<article class="card p-24">
  <div id="article-content" class="flex flex-wrap">
    <div class="flex-column gap-16" style="flex: 1 1 420px">
      <!-- TIPO DE ITEM -->
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 24px;
          width: 120px;
        "
        [nzActive]="true"
      ></nz-skeleton-element>

      <div class="flex-column gap-8">
        <nz-skeleton-element
          nzType="input"
          style="
            border-radius: 24px;
            overflow: hidden;
            height: 24px;
            width: 80%;
          "
          [nzActive]="true"
        ></nz-skeleton-element>
        <nz-skeleton-element
          nzType="input"
          style="
            border-radius: 24px;
            overflow: hidden;
            height: 24px;
            width: 50%;
          "
          [nzActive]="true"
        ></nz-skeleton-element>
      </div>
    </div>
    <!-- MONTO -->
    <div class="flex-column justify-center" style="flex: 0 1">
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 36px;
          width: 124px;
        "
        [nzActive]="true"
      ></nz-skeleton-element>
    </div>
    <!-- SECCION CUOTAS -->
    <div class="flex-column gap-16" style="flex: 0 1">
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 24px;
          width: 140px;
        "
        [nzActive]="true"
      ></nz-skeleton-element>
      <div class="flex-column gap-8">
        <nz-skeleton-element
          nzType="input"
          style="
            border-radius: 24px;
            overflow: hidden;
            height: 24px;
            width: 200px;
          "
          [nzActive]="true"
        ></nz-skeleton-element>
        <nz-skeleton-element
          nzType="input"
          style="
            border-radius: 24px;
            overflow: hidden;
            height: 24px;
            width: 240px;
          "
          [nzActive]="true"
        ></nz-skeleton-element>
      </div>
    </div>
    <!-- ESTADO Y DETALLE -->
    <div class="flex-column justify-space-between gap-16" style="flex: 0 1">
      <!-- ESTADO ASIGNACION -->
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 28px;
          width: 164px;
        "
        [nzActive]="true"
      ></nz-skeleton-element>
      <!-- BOTON DETALLE -->
      <div
        class="background-purple-3"
        style="width: 164px; height: 32px; border-radius: 24px"
      ></div>
    </div>
  </div>
</article>
