<div
  class="background-light p-24 flex-column gap-8"
  style="border-radius: 24px"
>
  <nz-skeleton-element
    nzType="input"
    style="border-radius: 24px; overflow: hidden; height: 24px; width: 100px"
  ></nz-skeleton-element>
  <div class="flex flex-wrap gap-16 items-center">
    <div
      class="flex p-12 background-purple-1"
      style="border-radius: 8px; flex: 0 1"
    >
      <icon name="cuota-pendiente" style="font-size: 20px"></icon>
    </div>
    <div class="flex-column gap-8" style="flex: 0 1 200px">
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 24px;
          width: 140px;
        "
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 24px;
          width: 80px;
        "
        [nzActive]="true"
      ></nz-skeleton-element>
    </div>
    <div class="flex-column gap-8" style="flex: 0 1 200px">
        <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 24px;
          width: 140px;
        "
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 24px;
          width: 80px;
        "
        [nzActive]="true"
      ></nz-skeleton-element>
    </div>
    <div class="flex" style="flex: 1 1 200px; justify-content: flex-end">
      <nz-skeleton-element
        nzType="input"
        style="
          border-radius: 24px;
          overflow: hidden;
          height: 32px;
          width: 160px;
        "
        [nzActive]="true"
      ></nz-skeleton-element>
    </div>
  </div>
</div>
