<div class="flex flex-wrap background-dark p-16 gap-16" style="padding-bottom: 40px">
    <div class="flex-column gap-24" style="flex: 4 1 400px;">
        <a routerLink="/">
            <img src="assets/logos/logo-san-market-white.svg" alt="San Market"
            width="220">
        </a>
        <p class="text-inverse">
            Descubre una nueva forma de hacer tus pagos universitarios: rápido, seguro y sin complicaciones
        </p>
    </div>
    <div class="flex-column gap-24" style="flex: 1 1 200px;">
        <h4 class="text-inverse">
            Enlaces directos
        </h4>
        <div class="flex-column gap-8">
            <a routerLink="/" class="text-inverse">
                Inicio
            </a>
            <a routerLink="/catalogo" class="text-inverse">
                Catálogo
            </a>
            <a routerLink="/grupos" class="text-inverse">
                Grupos
            </a>
        </div>
    </div>
    <div class="flex-column gap-24" style="flex: 1 1 200px;">
        <h4 class="text-inverse">¿Necesitas ayuda? Contáctate con nosotros</h4>
        <div class="flex-column gap-40">
            <p class="text-inverse">sanmarket.contacto&#64;unmsm.edu.pe</p>
            <small class="text-inverse" style="align-self: flex-end">Quipucamayoc 2023</small>
        </div>
    </div>
</div>