// █▀▀ █▀█ █░░ █▀█ █▀█ █▀
// █▄▄ █▄█ █▄▄ █▄█ █▀▄ ▄█

/*
===== NEUTRALS =====
*/
// BASE COLOR
$color-base: #03191b;
// SUBORDINATE COLOR
$color-subordinate: #818c8d;
// DISABLED COLOR
$color-disabled: #d5d8d9;
// INVERSE COLOR
$color-inverse: #fafcfd;

// PRIMARY COLOR
$color-primary-1: #ebf3fa; /* TINTS */
$color-primary-2: #ebf4f4;
$color-primary-3: #c3dee0;
$color-primary-4: #87bdc2;
$color-primary-5: #4b9ca3; /* BASE */
$color-primary-6: #0f7b85;
$color-primary-7: #0b5c63;
$color-primary-8: #073d42;
$color-primary-9: #031e21; /* SHADOWS */

// TRANSPARENCIES PRIMARY COLOR
$transparency-primary-24: #1170c83d;
$transparency-primary-36: #1170c85c;
$transparency-primary-60: #1170c899;

// SEMANTIC COLORS
$color-success: #0f8514;
$color-success-medium: #87C289;
$color-success-light: #d7ead7;
$color-warning: #85790f;
$color-warning-medium: #dcd27f;
$color-warning-light: #f3f0d4;
$color-danger: #850f0f;
$color-danger-medium: #db7f7f;
$color-danger-light: #f3d4d4;

// SECONDARY COLORS
$color-purple-1: #d9deed;
$color-purple-2: #8e9ec9;
$color-purple-3: #1d3d93;
$color-orange-1: #f9e7d8;
$color-orange-2: #edb98a;
$color-orange-3: #db7316;
$color-light-blue-1: #f4fafc;
$color-light-blue-2: #dff2f6;
$color-light-blue-3: #bfe5ee;

// SYSTEM COLORS
$color-light: #f1f5f9;
$color-dark: #0e1e49;
